.header  {
  font-family: monospace;
  background: papayawhip;
  /* new */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding needed */
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  /* new */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* perhaps the use of gap: px; would be faster */
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

/* new */
li {
  padding: 4px;
  margin: 4px;
}
